{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post text-center">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            {% if post.post_type == 'texto' %}
                <p>{{ post.text|linebreaksbr }}</p>
            {% endif %}

            {% if post.post_type == 'imagem' %}
                <img src="{{ post.text }}" />
            {% endif %}

            {% if post.post_type == 'youtube' %}
                <iframe width="420" height="345" src="https://www.youtube.com/embed/{{ post.text }}?autoplay=0" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            
        </div>
    {% endfor %}
{% endblock %}
